# Ignore everything
*

# Except .miz files, .gitignore, and pictures folder
!*.miz
!.gitignore
!pictures/
!pictures/*
!Chops/
!Chops/*
!Dropshot/
!Dropshot/*
!uploads/
!uploads/*.miz
!uploads/.gitkeep
!.github/
!.github/workflows/
!.github/workflows/*.yml
